@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root {
  --primaryColor: #8db49c;
  --secondaryColor: #003b53;
  --tertiaryColor: #94afc1;
  --quaternaryColor: #f1fcf5;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--secondaryColor);
  background-color: var(--primaryColor);
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
